# Python bytecode
__pycache__/
*.pyc
*.pyo

# Packaging
*.egg-info/
dist/
build/

# Tools
.idea/
.pytest_cache/
.claude/
/CLAUDE.md
winpyfiles_backup_*.json

# Tools build artifacts
/tools/pyexewrap_exe/pyexe_exe.spec
/tools/pyexewrap_exe/Backup_Full.txt
/tools/pyexewrap_exe/Backup_One.txt
/tools/pyexewrap_exe/pyexewrap.spec
