# Python bytecode
__pycache__/
*.pyc
*.pyo

# Packaging
*.egg-info/
dist/
build/

# Tools
.idea/
.pytest_cache/

# Addons build artifacts
/addons/pyexewrap_exe/pyexe_exe.spec
/addons/pyexewrap_exe/Backup_Full.txt
/addons/pyexewrap_exe/Backup_One.txt
/addons/pyexewrap_exe/pyexewrap.spec
